
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Three columns */
    grid-template-rows: auto auto auto auto auto; /* Five rows */
    grid-gap: 10px;
    grid-template-areas: 
        ". kimPhoto ."
        ". aside ."
        ". text ."
        ". timeline ."
        ". footer ."; /* Adjusted grid areas to include the footer */
}

.kimPhoto {
    grid-area: kimPhoto;
    justify-self: center; /* Center the image horizontally */
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.text {
    grid-area: text;
    text-align: center;
}

.FunFact {
    display: flex;
    justify-content: flex-end; /* Adjust the space between the aside and timeline */
    grid-column: 2 / -2; /* Span across columns, excluding the first and last */
    align-items: flex-start; /* Align items at the start (top) of the container */
}
aside {
    grid-area: aside; /* Assign the aside to a grid area */
    float: right;
    background-color:rgba(48, 231, 255, 0.706);
    padding: 10px;
    width: 400px;
    margin-right: 50px;
    border: solid rgba(48, 231, 255, 0.706) 3px;
    border-radius: 15px;
    text-indent: 20px;
}

.timeline {
    grid-area: timeline; /* Assign the timeline to a grid area */
    width: 100%; /* Set the width of the timeline to fill the container */
    padding-bottom: 10px;

}

footer {
    grid-area: footer; /* Position the footer in the footer grid area */
    text-align: center; /* Center align the content of the footer */
    margin-top: 20px; /* Add some spacing between the timeline and the footer */
}

img {
    max-width: 390px;
    height: auto;
    border: solid blue 1px;
}

body {
    background-color: rgb(223, 64, 223);
}

header {
    text-align: center;
}

nav{
    text-align: center;
    padding: 10px
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: brown
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    width: 25%;
}

#para1{
    color: navy;
}

.unorderedList{
    background-color: cadetblue;
}
figure figcaption{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

div{
    border-radius: 5px;
}

.mixed-border{
    border-top:5px dotted springgreen;
    border-bottom: 5px dotted springgreen;
    border-left:5px solid springgreen;
    border-right: 5px solid springgreen;
}

.sisters{
    font-size: 25px;
    line-height: 20px;
    color: plum;
    font-family: monospace;
    padding: 4px;
    margin-left: 6px;
}