  Task 1    
Should include: 
- A title or heading done
- An image done
- A caption for the image (and alt) done
- A timeline of the life of the tribute in the form of the list done

These 8 elements at least once 
- h1 done
- p done
- img done 
- h2 
- h3 done
- nav
- header
- aside (research) done

- Try and align some to the left, right and middle
- the nav bar should be centred and the elements placed next to each other (horizontally)
- change the background colour of the entire page (body?)
- Make sure all of the headings are in italics and in Times New Roman (font-family)

check with the validators 

    Task 2
- using the tribute.html and myStyle from the task previous 

Styling should include the following:
- Ensure the h1 tags have padding of 20 pixels left and right, and 10 pixels top and bottom 
- Make the h1 tags brown
- Insert a blue border around all of the images used
- Use an id selector (id="para1") to change the colour of the first paragraph to navy
- Add two sets of 'ul' items to your document and highlight them with CadetBlue
- Change the captions for any images to clod centred and 20 pixels in size 
- Give all div elements rounded corners for 5 pixels 
- Ensure that all h2 tags are italic 
- All h3 tags should have a width of 25% 
- Ensure that all aside tags are indented by 20 pixels 
- Select or create a paragraph and add a 'spring green', mixed borderof 5 pixels to it 
- Add a class selector with these preoperties and value
    - Font size of 25 pixels 
    - Line height of 20 poxels 
    - Colour should be 'plum'
    - Font type should be monospace
    - Padding of 4 pixels 
    - Left margin of 6 pixels