/* styling the cards so they look uniform */
.card{
    background-color: rgb(38, 128, 207);
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 10px;
    width: 250px;
    text-align: left;
}

.title{
    text-align: center;
}

/* changing the size of the profile picture without making it look squashed */
img{
    height: 100px;
}